%h1.caption 
  Listing clients
%table.table-latitude
  %thead
    %tr
      %th
        Name
      %th
        Age
      %th{width: '50%'}
        Address
      %th{width: '20%'}
        Actions

  %tbody
    - @clients.each do |client|
      %tr
        %td
          = client.name
        %td
          = client.age
        %td 
          = client.address
        %td
          .small-button
            = link_to 'Show', client
          .small-button
            = link_to 'Edit', edit_client_path(client)
          .small-button
            = link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }

- if current_admin
  %br
  = link_to 'New Client', new_client_path
