%h1.caption 
  Listing plumbers
%table.table-latitude
  %thead
    %tr
      %th
        Name
      %th
        Address 
      %th
        Vehicles
      %th 
        Actions

  %tbody
    - @plumbers.each do |plumber|
      %tr
        %td
          = plumber.name
        %td
          = plumber.address
        %td
          = plumber.vehicles.join(",")
        %td
          .small-button
            = link_to 'Show', plumber
          .small-button
            = link_to 'Edit', edit_plumber_path(plumber)
          .small-button
            = link_to 'Destroy', plumber, method: :delete, data: { confirm: 'Are you sure?' }

- if current_admin
  %br
  = link_to 'New Plumber', new_plumber_path
