- if !current_page?(controller:'home', action: 'index')
  .header
    .button
      = link_to '/', class: 'button' do 
        Home
        %i.fa.fa-book

    .button 
      = link_to "/#{controller_name}", class: 'button' do 
        = "#{controller_name.humanize}"

    .button
      = link_to :back, class: 'button' do 
        Back
        
