%html
  %head
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' 
    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    
    %title
      = yield :title

  %body
    = render "layouts/navbar"
    = yield

:sass
  .header 
    padding: 10px 0 10px 0;

  .small-button 
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16;
    display: inline-block;

  .small-button:hover 
    background: darken(white, 8%);
    transition: all 0.3s ease;
    
  .small-button:active 
    background:darken(white, 25%)

  .button 
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 24;
    display: inline-block;

  .button:hover 
    background: darken(white, 8%);
    transition: all 0.3s ease;

  .button:active
    background:darken(white, 25%)
  
  $background: #efefef;
  $lfs-blue: #006ac6;
  $lfs-yellow: #fab700;
  $lfs-grey: #75787b;

  .caption
    text-transform: uppercase;
    font-weight: bold;
    color: $lfs-yellow;
    text-align: center;

  .table-latitude
    width: 100%;

    thead 
      border-top: 2px solid $lfs-yellow;
      border-bottom: 2px solid $lfs-yellow;
      
      th 
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        color: $lfs-blue;
        border: 1px solid #F1F1F1;
    
    tbody
      tr
        border-bottom: 1px solid #F1F1F1;
        color: $lfs-grey;

        td
          padding: 10px;
          border: 1px solid #F1F1F1;
          text-align: center;
